n8n-ai-agent-workflow.json
{
  "name": "User Validation with AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "validate"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "User Accounts",
          "mode": "list",
          "cachedResultName": "User Accounts"
        },
        "options": {
          "filterByFormula": "={Username} = LOWER(\"{{ $json.body.username }}\")"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "airtable-node",
      "name": "Airtable: Get User"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "systemMessage": "You are a user authentication agent. Validate credentials and return JSON in this exact format:\n\nSuccess:\n{\n  \"success\": true,\n  \"user\": {\n    \"id\": \"<airtable_record_id>\",\n    \"email\": \"<email>\",\n    \"username\": \"<username>\",\n    \"role\": \"<role>\",\n    \"clientId\": \"<client_id_or_null>\",\n    \"kamId\": \"<kam_id_or_null>\",\n    \"nbfcId\": \"<nbfc_id_or_null>\",\n    \"name\": \"<name>\"\n  }\n}\n\nError:\n{\n  \"success\": false,\n  \"error\": \"Invalid username or passcode\"\n}\n\nRules:\n1. Compare username (case-insensitive) and passcode (case-sensitive)\n2. Map Airtable fields: Email→email, Username→username, Role→role, etc.\n3. Use Airtable record ID for 'id' field\n4. Return null for missing optional fields",
          "outputParser": {
            "type": "json",
            "schema": {
              "type": "object",
              "properties": {
                "success": {"type": "boolean"},
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "string"},
                    "email": {"type": "string"},
                    "username": {"type": "string"},
                    "role": {"type": "string", "enum": ["client", "kam", "credit_team", "nbfc"]},
                    "clientId": {"type": "string", "nullable": true},
                    "kamId": {"type": "string", "nullable": true},
                    "nbfcId": {"type": "string", "nullable": true},
                    "name": {"type": "string", "nullable": true}
                  }
                },
                "error": {"type": "string"}
              },
              "required": ["success"]
            }
          }
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Validate credentials:\nUsername: {{ $json.body.username }}\nPasscode: {{ $json.body.passcode }}\n\nAirtable user data: {{ JSON.stringify($('Airtable: Get User').item.json) }}\n\nReturn the response in the specified JSON format."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [650, 300],
      "id": "ai-agent-node",
      "name": "AI Agent: Validate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [850, 300],
      "id": "respond-node",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable: Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: Get User": {
      "main": [
        [
          {
            "node": "AI Agent: Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Validate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}

