n8n-complete-validate-workflow-v2.json
{
  "name": "User Validation - Complete Workflow v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-400, 300],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "validate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a user authentication agent. Validate user credentials and return ONLY raw JSON (no markdown, no code blocks).\n\n## Your Task:\n1. You will receive username and passcode from the webhook request\n2. Use the Airtable tool to search for the user by username\n3. Validate the credentials and return user information in the exact JSON format\n\n## Input from Webhook:\n- Username: {{ $json.body.username }}\n- Passcode: {{ $json.body.passcode }}\n\n## Instructions:\n\nSTEP 1: Use the \"Search records in Airtable\" tool to find the user.\n- Tool name: \"Search records in Airtable\"\n- Search query: \"Username: {{ $json.body.username }}\"\n- This will search the \"User Accounts\" table for a user with matching username (case-insensitive)\n\nSTEP 2: Check if user was found:\n- If the tool returns no results or empty array → return error immediately\n- If the tool returns results → continue to STEP 3\n\nSTEP 3: Validate credentials:\n- Get the Password field from the Airtable record\n- Compare it with the passcode from the request (case-sensitive comparison)\n- If passwords match → proceed to STEP 4\n- If passwords don't match → return error\n\nSTEP 4: Format success response:\n- Extract all user data from the Airtable record\n- Map fields according to the mapping rules below\n- Return success JSON\n\n## Output Format (STRICT - Return ONLY JSON, no markdown):\n\nSuccess Response (ONLY this JSON):\n{\n  \"success\": true,\n  \"user\": {\n    \"id\": \"<airtable_record_id>\",\n    \"email\": \"<airtable_email_or_null>\",\n    \"username\": \"<airtable_username>\",\n    \"role\": \"<airtable_role>\",\n    \"clientId\": \"<airtable_client_id_or_null>\",\n    \"kamId\": \"<airtable_kam_id_or_null>\",\n    \"nbfcId\": \"<airtable_nbfc_id_or_null>\",\n    \"name\": \"<airtable_name_or_null>\"\n  }\n}\n\nError Response (ONLY this JSON):\n{\n  \"success\": false,\n  \"error\": \"Invalid username or passcode\"\n}\n\n## Field Mapping from Airtable:\n- Airtable record \"id\" → response \"user.id\"\n- Airtable \"Email\" field → response \"user.email\" (use null if missing)\n- Airtable \"Username\" field → response \"user.username\"\n- Airtable \"Role\" field → response \"user.role\"\n- Airtable \"Client ID\" or \"ClientId\" field → response \"user.clientId\" (use null if missing)\n- Airtable \"KAM ID\" or \"KAMId\" field → response \"user.kamId\" (use null if missing)\n- Airtable \"NBFC ID\" or \"NBFCId\" field → response \"user.nbfcId\" (use null if missing)\n- Airtable \"Name\" field → response \"user.name\" (use null if missing)\n\n## Critical Rules:\n1. You MUST use the \"Search records in Airtable\" tool to find the user - do not assume the user exists\n2. Return ONLY the JSON object - NO markdown code blocks, NO ```json```, NO explanations\n3. Password comparison is case-sensitive\n4. Username comparison is case-insensitive (handled by Airtable search)\n5. If Airtable tool returns no results → return error immediately\n6. If password doesn't match → return error\n7. Use null (not empty string) for missing optional fields",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [0, 300],
      "id": "ai-agent-node",
      "name": "AI Agent: Validate Credentials"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-144, 500],
      "id": "openai-model-node",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JWuuxy0L5XtsVuUU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl7RRcehD5xLiPv7",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [-144, 600],
      "id": "airtable-tool-node",
      "name": "Search records in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"success\": {\n      \"type\": \"boolean\"\n    },\n    \"user\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"nullable\": true\n        },\n        \"username\": {\n          \"type\": \"string\"\n        },\n        \"role\": {\n          \"type\": \"string\",\n          \"enum\": [\"client\", \"kam\", \"credit_team\", \"nbfc\"]\n        },\n        \"clientId\": {\n          \"type\": \"string\",\n          \"nullable\": true\n        },\n        \"kamId\": {\n          \"type\": \"string\",\n          \"nullable\": true\n        },\n        \"nbfcId\": {\n          \"type\": \"string\",\n          \"nullable\": true\n        },\n        \"name\": {\n          \"type\": \"string\",\n          \"nullable\": true\n        }\n      },\n      \"required\": [\"id\", \"username\", \"role\"]\n    },\n    \"error\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"success\"],\n  \"oneOf\": [\n    {\n      \"properties\": {\n        \"success\": {\n          \"const\": true\n        }\n      },\n      \"required\": [\"user\"]\n    },\n    {\n      \"properties\": {\n        \"success\": {\n          \"const\": false\n        }\n      },\n      \"required\": [\"error\"]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-144, 700],
      "id": "output-parser-node",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Get AI output\nconst aiOutput = $input.item.json;\n\n// Extract JSON from markdown if present\nlet jsonString = '';\n\nif (aiOutput.output) {\n  // If wrapped in markdown code blocks\n  jsonString = aiOutput.output\n    .replace(/```json\\s*/g, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n} else if (typeof aiOutput === 'string') {\n  jsonString = aiOutput\n    .replace(/```json\\s*/g, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n} else {\n  // Already JSON object - validate and format\n  if (aiOutput.success === true && aiOutput.user) {\n    return {\n      json: {\n        success: true,\n        user: {\n          id: aiOutput.user.id || '',\n          email: aiOutput.user.email || null,\n          username: aiOutput.user.username || '',\n          role: aiOutput.user.role || 'client',\n          clientId: aiOutput.user.clientId || null,\n          kamId: aiOutput.user.kamId || null,\n          nbfcId: aiOutput.user.nbfcId || null,\n          name: aiOutput.user.name || null\n        }\n      }\n    };\n  } else {\n    return {\n      json: {\n        success: false,\n        error: aiOutput.error || 'Invalid username or passcode'\n      }\n    };\n  }\n}\n\n// Parse JSON\ntry {\n  const parsed = JSON.parse(jsonString);\n  \n  // Validate and format response\n  if (parsed.success === true && parsed.user) {\n    return {\n      json: {\n        success: true,\n        user: {\n          id: parsed.user.id || '',\n          email: parsed.user.email || null,\n          username: parsed.user.username || '',\n          role: parsed.user.role || 'client',\n          clientId: parsed.user.clientId || null,\n          kamId: parsed.user.kamId || null,\n          nbfcId: parsed.user.nbfcId || null,\n          name: parsed.user.name || null\n        }\n      }\n    };\n  } else {\n    return {\n      json: {\n        success: false,\n        error: parsed.error || 'Invalid username or passcode'\n      }\n    };\n  }\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: \"Failed to parse AI response: \" + error.message\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "code-clean-node",
      "name": "Code: Clean & Validate Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [400, 300],
      "id": "respond-webhook-node",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent: Validate Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Validate Credentials": {
      "main": [
        [
          {
            "node": "Code: Clean & Validate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Validate Credentials",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search records in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Validate Credentials",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Validate Credentials",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code: Clean & Validate Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-05T18:00:00.000Z",
  "versionId": "1"
}

