SEVEN-DASHBOARD(2).json
{
  "name": "SEVEN-DASHBOARD",
  "nodes": [
    {
      "parameters": {
        "path": "Adminactivity",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        272
      ],
      "id": "8d0d1a4d-66fa-435a-9e84-f3482e550836",
      "name": "Webhook",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        272
      ],
      "id": "acd49ba9-c86b-4820-9092-7e4b171cf312",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "POSTLOG",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        48
      ],
      "id": "75e02f61-59bf-4d83-801e-1e3611b3a7c8",
      "name": "Webhook1",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        48
      ],
      "id": "fdab18fc-8f57-478d-a257-548f4b1ab0ea",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblz0e59ULgBcUvrY",
          "mode": "list",
          "cachedResultName": "Admin Activity log",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblz0e59ULgBcUvrY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Timestamp": "={{ $json.body.Timestamp }}",
            "Activity ID": "={{ $json.body['Activity ID'] }}",
            "Performed By": "={{ $json.body['Performed By'] }}",
            "Action Type": "={{ $json.body['Action Type'] }}",
            "Description/Details": "={{ $json.body['Description/Details'] }}",
            "Target Entity": "={{ $json.body['Target Entity'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Activity ID",
              "displayName": "Activity ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Performed By",
              "displayName": "Performed By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action Type",
              "displayName": "Action Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description/Details",
              "displayName": "Description/Details",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Target Entity",
              "displayName": "Target Entity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        48
      ],
      "id": "dfeb12be-0e66-4131-85be-7af47c247743",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl70C8uPKmoLkOQJ",
          "mode": "list",
          "cachedResultName": "Client Form Mapping",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl70C8uPKmoLkOQJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Mapping ID": "={{ $json.body['Mapping ID'] }}",
            "Client": "={{ $json.body.Client }}",
            "Category": "={{ $json.body.Category }}",
            "Is Required": "={{ $json.body['Is Required'] }}",
            "Display Order": "={{ $json.body['Display Order'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Mapping ID",
              "displayName": "Mapping ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is Required",
              "displayName": "Is Required",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Display Order",
              "displayName": "Display Order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        272
      ],
      "id": "f122a202-c261-40f2-bc33-21abc1d226f0",
      "name": "Create or update a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblrBWFuPYBI4WWtn",
          "mode": "list",
          "cachedResultName": "Commission Ledger",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblrBWFuPYBI4WWtn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Ledger Entry ID": "={{ $json.body['Ledger Entry ID'] }}",
            "Client": "={{ $json.body.Client }}",
            "Loan File": "={{ $json.body['Loan File'] }}",
            "Date": "={{ $json.body.Date }}",
            "Disbursed Amount": "={{ $json.body['Disbursed Amount'] }}",
            "Commission Rate": "={{ $json.body['Commission Rate'] }}",
            "Payout Amount": "={{ $json.body['Payout Amount'] }}",
            "Description": "={{ $json.body.Description }}",
            "Dispute Status": "={{ $json.body['Dispute Status'] }}",
            "Payout Request": "={{ $json.body['Payout Request'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Ledger Entry ID",
              "displayName": "Ledger Entry ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Loan File",
              "displayName": "Loan File",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Disbursed Amount",
              "displayName": "Disbursed Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Commission Rate",
              "displayName": "Commission Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payout Amount",
              "displayName": "Payout Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Dispute Status",
              "displayName": "Dispute Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payout Request",
              "displayName": "Payout Request",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        496
      ],
      "id": "6478b3c8-2fb1-4d05-bd02-d9d8d9527ddb",
      "name": "Create or update a record3",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl1a1TmMUj918Byj",
          "mode": "list",
          "cachedResultName": "Credit Team Users",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl1a1TmMUj918Byj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Credit User ID": "={{ $json.body['Credit User ID'] }}",
            "Name": "={{ $json.body.Name }}",
            "Email": "={{ $json.body.Email }}",
            "Phone": "={{ $json.body.Phone }}",
            "Role": "={{ $json.body.Role }}",
            "Status": "={{ $json.body.Status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Credit User ID",
              "displayName": "Credit User ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        720
      ],
      "id": "1e64f3cb-87c4-46a9-9ff7-ebe7fe00aea7",
      "name": "Create or update a record4",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbla3urDb8kCsO0Et",
          "mode": "list",
          "cachedResultName": "Daily summary Reports",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbla3urDb8kCsO0Et"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Report Date": "={{ $json.body['Report Date'] }}",
            "Summary Content": "={{ $json.body['Summary Content'] }}",
            "Generated Timestamp": "={{ $json.body['Generated Timestamp'] }}",
            "Delivered To": "={{ $json.body['Delivered To'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Report Date",
              "displayName": "Report Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary Content",
              "displayName": "Summary Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Generated Timestamp",
              "displayName": "Generated Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivered To",
              "displayName": "Delivered To",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        944
      ],
      "id": "7ead686b-09d4-41c5-8f60-a66850f2eaf7",
      "name": "Create or update a record5",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl4F4bUzC6X2Dxy9",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl4F4bUzC6X2Dxy9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Client ID": "={{ $json.body['Client ID'] }}",
            "Client Name": "={{ $json.body['Client Name'] }}",
            "Primary Contact Name": "={{ $json.body['Primary Contact Name'] }}",
            "Contact Email / Phone": "={{ $json.body['Contact Email / Phone'] }}",
            "Assigned KAM": "={{ $json.body['Assigned KAM'] }}",
            "Enabled Modules": "={{ $json.body['Enabled Modules'] }}",
            "Commission Rate": "={{ $json.body['Commission Rate'] }}",
            "Status": "={{ $json.body.Status }}",
            "Form Categories": "={{ $json.body['Form Categories'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Client ID",
              "displayName": "Client ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Primary Contact Name",
              "displayName": "Primary Contact Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email / Phone",
              "displayName": "Contact Email / Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned KAM",
              "displayName": "Assigned KAM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enabled Modules",
              "displayName": "Enabled Modules",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Commission Rate",
              "displayName": "Commission Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Form Categories",
              "displayName": "Form Categories",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        1392
      ],
      "id": "a791eb36-3d65-431e-8793-a14cbf8b90e7",
      "name": "Create or update a record6",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblL1XJnqW3Q15ueZ",
          "mode": "list",
          "cachedResultName": "File Auditing Log",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblL1XJnqW3Q15ueZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Log Entry ID": "={{ $json.body['Log Entry ID'] }}",
            "File": "={{ $json.body.File }}",
            "Timestamp": "={{ $json.body.Timestamp }}",
            "Actor": "={{ $json.body.Actor }}",
            "Action/Event Type": "={{ $json.body['Action/Event Type'] }}",
            "Details/Message": "={{ $json.body['Details/Message'] }}",
            "Target User/Role": "={{ $json.body['Target User/Role'] }}",
            "Resolved": "={{ $json.body.Resolved }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Log Entry ID",
              "displayName": "Log Entry ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Actor",
              "displayName": "Actor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action/Event Type",
              "displayName": "Action/Event Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Details/Message",
              "displayName": "Details/Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Target User/Role",
              "displayName": "Target User/Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resolved",
              "displayName": "Resolved",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        1168
      ],
      "id": "3a6c15d8-755b-42d6-a51c-cfd0934b15c9",
      "name": "Create or update a record7",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblqCqXV0Hds0t0bH",
          "mode": "list",
          "cachedResultName": "Form Categories",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblqCqXV0Hds0t0bH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Category ID": "={{ $json.body['Category ID'] }}",
            "Category Name": "={{ $json.body['Category Name'] }}",
            "Description": "={{ $json.body.Description }}",
            "Display Order": "={{ $json.body['Display Order'] }}",
            "Active": "={{ $json.body.Active }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Category ID",
              "displayName": "Category ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category Name",
              "displayName": "Category Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Display Order",
              "displayName": "Display Order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        1616
      ],
      "id": "044b9f24-f894-4c7e-877f-d0bdc3f3f954",
      "name": "Create or update a record8",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl5oZ6zI0dc5eutw",
          "mode": "list",
          "cachedResultName": "Form Fields",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl5oZ6zI0dc5eutw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Field ID": "={{ $json.body['Field ID'] }}",
            "Category": "={{ $json.body.Category }}",
            "Field Label": "={{ $json.body['Field Label'] }}",
            "Field Type": "={{ $json.body['Field Type'] }}",
            "Field Placeholder": "={{ $json.body['Field Placeholder'] }}",
            "Field Options": "={{ $json.body['Field Options'] }}",
            "Is Mandatory": "={{ $json.body['Is Mandatory'] }}",
            "Display Order": "={{ $json.body['Display Order'] }}",
            "Active": "={{ $json.body.Active }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Field ID",
              "displayName": "Field ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Field Label",
              "displayName": "Field Label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Field Type",
              "displayName": "Field Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Field Placeholder",
              "displayName": "Field Placeholder",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Field Options",
              "displayName": "Field Options",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is Mandatory",
              "displayName": "Is Mandatory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Display Order",
              "displayName": "Display Order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        1840
      ],
      "id": "63edb386-8bcc-4389-88fc-50a1bf5e5d54",
      "name": "Create or update a record9",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblpZFUQEJAvPsdOJ",
          "mode": "list",
          "cachedResultName": "KAM Users",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblpZFUQEJAvPsdOJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "KAM ID": "={{ $json.body['KAM ID'] }}",
            "Name": "={{ $json.body.Name }}",
            "Email": "={{ $json.body.Email }}",
            "Phone": "={{ $json.body.Phone }}",
            "Managed Clients": "={{ $json.body['Managed Clients'] }}",
            "Role": "={{ $json.body.Role }}",
            "Status": "={{ $json.body.Status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "KAM ID",
              "displayName": "KAM ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Managed Clients",
              "displayName": "Managed Clients",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        2064
      ],
      "id": "bca46f8c-1f13-473b-922a-bfab29bb5953",
      "name": "Create or update a record10",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl85RSGR1op38O3G",
          "mode": "list",
          "cachedResultName": "Loan Applications",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl85RSGR1op38O3G"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "File ID": "={{ $json.body['File ID'] }}",
            "Client": "={{ $json.body.Client }}",
            "Applicant Name": "={{ $json.body['Applicant Name'] }}",
            "Loan Product": "={{ $json.body['Loan Product'] }}",
            "Requested Loan Amount": "={{ $json.body['Requested Loan Amount'] }}",
            "Documents": "={{ $json.body.Documents }}",
            "Status": "={{ $json.body.Status }}",
            "Assigned Credit Analyst": "={{ $json.body['Assigned Credit Analyst'] }}",
            "Assigned NBFC": "={{ $json.body['Assigned NBFC'] }}",
            "Lender Decision Status": "={{ $json.body['Lender Decision Status'] }}",
            "Lender Decision Date": "={{ $json.body['Lender Decision Date'] }}",
            "Lender Decision Remarks": "={{ $json.body['Lender Decision Remarks'] }}",
            "Approved Loan Amount": "={{ $json.body['Approved Loan Amount'] }}",
            "AI File Summary": "={{ $json.body['AI File Summary'] }}",
            "Form Data": "={{ $json.body['Form Data'] }}",
            "Creation Date": "={{ $json.body['Creation Date'] }}",
            "Submitted Date": "={{ $json.body['Submitted Date'] }}",
            "Last Updated": "={{ $json.body['Last Updated'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Applicant Name",
              "displayName": "Applicant Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Loan Product",
              "displayName": "Loan Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Requested Loan Amount",
              "displayName": "Requested Loan Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Documents",
              "displayName": "Documents",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned Credit Analyst",
              "displayName": "Assigned Credit Analyst",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned NBFC",
              "displayName": "Assigned NBFC",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lender Decision Status",
              "displayName": "Lender Decision Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lender Decision Date",
              "displayName": "Lender Decision Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lender Decision Remarks",
              "displayName": "Lender Decision Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approved Loan Amount",
              "displayName": "Approved Loan Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI File Summary",
              "displayName": "AI File Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Form Data",
              "displayName": "Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creation Date",
              "displayName": "Creation Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submitted Date",
              "displayName": "Submitted Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        2512
      ],
      "id": "ce37bde8-2dfa-408a-bbfd-e2f2eb2c250e",
      "name": "Create or update a record11",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblVukvj8kn5gWBta",
          "mode": "list",
          "cachedResultName": "Loan Products",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblVukvj8kn5gWBta"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Product ID": "={{ $json.body['Product ID'] }}",
            "Product Name": "={{ $json.body['Product Name'] }}",
            "Description": "={{ $json.body.Description }}",
            "Active": "={{ $json.body.Active }}",
            "Required Documents/Fields": "={{ $json.body['Required Documents/Fields'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Product ID",
              "displayName": "Product ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Required Documents/Fields",
              "displayName": "Required Documents/Fields",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        2288
      ],
      "id": "bed1e209-231e-459e-808c-f494af73c78c",
      "name": "Create or update a record12",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblGvEp8Z1QvahwI0",
          "mode": "list",
          "cachedResultName": "NBFC Partners",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblGvEp8Z1QvahwI0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Lender ID": "={{ $json.body['Lender ID'] }}",
            "Lender Name": "={{ $json.body['Lender Name'] }}",
            "Contact Person": "={{ $json.body['Contact Person'] }}",
            "Contact Email/Phone": "={{ $json.body['Contact Email/Phone'] }}",
            "Active": "={{ $json.body.Active }}",
            "Address/Region": "={{ $json.body['Address/Region'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lender ID",
              "displayName": "Lender ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lender Name",
              "displayName": "Lender Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Person",
              "displayName": "Contact Person",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email/Phone",
              "displayName": "Contact Email/Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address/Region",
              "displayName": "Address/Region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        2736
      ],
      "id": "7ff61a5e-df04-4cf6-a6b4-ac9c8668ef1b",
      "name": "Create or update a record13",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl7RRcehD5xLiPv7",
          "mode": "list",
          "cachedResultName": "User Accounts",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl7RRcehD5xLiPv7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Username": "={{ $json.body.Username }}",
            "Password": "={{ $json.body.Password }}",
            "Role": "={{ $json.body.Role }}",
            "Associated Profile": "={{ $json.body['Associated Profile'] }}",
            "Last Login": "={{ $json.body['Last Login'] }}",
            "Account Status": "={{ $json.body['Account Status'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Password",
              "displayName": "Password",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Associated Profile",
              "displayName": "Associated Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Login",
              "displayName": "Last Login",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        2960
      ],
      "id": "1518c61e-25b0-406e-a81f-3f94daa50577",
      "name": "Create or update a record14",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "POSTCLIENTFORMMAPPING",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        272
      ],
      "id": "3b809a10-8ef2-4d8b-89b4-a5582074ff77",
      "name": "Webhook2",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        272
      ],
      "id": "d1553486-7131-4bfd-9050-e32a095d2fc4",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "COMISSIONLEDGER",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        496
      ],
      "id": "2912ff56-9d28-4482-9613-ff6c40fc1f74",
      "name": "Webhook3",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        496
      ],
      "id": "b5623b6b-4dce-478a-9e2f-e8e51bf18ec2",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CREDITTEAMUSERS",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        720
      ],
      "id": "496ddbcc-3e52-4225-899c-0f03d03427f2",
      "name": "Webhook4",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        720
      ],
      "id": "625c0dce-1f70-48f1-b19e-1fa822b34be7",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "DAILYSUMMARY",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        944
      ],
      "id": "cae15a95-fa82-4b5b-9d14-6498f4890ff5",
      "name": "Webhook5",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        944
      ],
      "id": "9f9a3d5f-aad1-4a00-85db-986ecc81cb6c",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Client",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        1392
      ],
      "id": "fa6e9c86-3292-47a5-b597-daf47e6c598b",
      "name": "Webhook6",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        1392
      ],
      "id": "73a5d66c-4977-475b-a17b-e844c075f554",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Fileauditinglog",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        1168
      ],
      "id": "341e2149-839e-47af-bfad-32bbc40267d3",
      "name": "Webhook7",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        1168
      ],
      "id": "244f3c63-b807-41cf-9e4f-2ba0e40a8be3",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "FormCategory",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        1616
      ],
      "id": "6c089ccb-210a-4fc5-9b9b-f6b709d7843c",
      "name": "Webhook8",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        1616
      ],
      "id": "2f2332fe-7893-418d-8c6c-38b03bb5efcb",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "FormFields",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        1840
      ],
      "id": "c1c2d168-e530-4a74-b5d0-212eced36b26",
      "name": "Webhook9",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        1840
      ],
      "id": "85586ceb-f9bf-41ec-ab92-d6e97ebed4c3",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "KAMusers",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        2064
      ],
      "id": "05739c7e-b8a8-4bf4-b80f-f6f23c739637",
      "name": "Webhook10",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        2064
      ],
      "id": "b21d7a12-62cf-4624-ba98-44ed2aa5e250",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "loanapplications",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        2512
      ],
      "id": "f97c4227-1df8-4ce6-8c8e-9d1103a6158b",
      "name": "Webhook11",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        2512
      ],
      "id": "e538d206-7f31-477e-b4a8-8f7cf4fbff47",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "loanproducts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        2288
      ],
      "id": "973cf9d0-af7e-4c99-9332-a17231f883fb",
      "name": "Webhook12",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        2288
      ],
      "id": "b7677506-0c72-41e6-ac4d-448ba4784c19",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "NBFCPartners",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        2736
      ],
      "id": "176bf2ed-b3a1-43ab-9219-287003e335f6",
      "name": "Webhook13",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        2736
      ],
      "id": "60d051fb-6ec6-4710-841f-832cb2c972bd",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adduser",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        2960
      ],
      "id": "34b834be-e4dc-4b79-972d-cdc8a0469126",
      "name": "Webhook14",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        2960
      ],
      "id": "c6833d3f-a031-4cfc-80c8-78f761cc58cc",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblmprms0l3yQjVdx",
          "mode": "list",
          "cachedResultName": "Notifications",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblmprms0l3yQjVdx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Notification ID",
              "displayName": "Notification ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Recipient User",
              "displayName": "Recipient User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Recipient Role",
              "displayName": "Recipient Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "KAM",
                  "value": "KAM"
                },
                {
                  "name": "Credit",
                  "value": "Credit"
                },
                {
                  "name": "Client",
                  "value": "Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related File",
              "displayName": "Related File",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "FILE001",
                  "value": "FILE001"
                },
                {
                  "name": "FILE002",
                  "value": "FILE002"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related Client",
              "displayName": "Related Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "CL001",
                  "value": "CL001"
                },
                {
                  "name": "CL002",
                  "value": "CL002"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related Ledger Entry",
              "displayName": "Related Ledger Entry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notification Type",
              "displayName": "Notification Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In-App",
                  "value": "In-App"
                },
                {
                  "name": "Email",
                  "value": "Email"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is Read",
              "displayName": "Is Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Read At",
              "displayName": "Read At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action Link",
              "displayName": "Action Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "/files/FILE001",
                  "value": "/files/FILE001"
                },
                {
                  "name": "/files/FILE002",
                  "value": "/files/FILE002"
                },
                {
                  "name": "/ledgers/LED001",
                  "value": "/ledgers/LED001"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        3184
      ],
      "id": "002f7a43-f093-4ab4-9e67-2a54342a5b97",
      "name": "Create or update a record15",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        3184
      ],
      "id": "d0b096a2-2f2b-4015-8628-06f9cda0290d",
      "name": "Webhook15",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        3184
      ],
      "id": "247469e6-1253-4430-acfd-21a1ec71ffa9",
      "name": "Respond to Webhook15"
    },
    {
      "parameters": {
        "path": "useraccount",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        3408
      ],
      "id": "ac9912e4-e8ab-4a6e-a86d-f3a668a05087",
      "name": "Webhook16",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        3408
      ],
      "id": "1a3ed95d-aa0f-4f6e-bec6-3c0b7b4e7753",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "path": "clientformmapping",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        496
      ],
      "id": "4ea92bd4-ca4d-4248-91f2-c185a1b7fd81",
      "name": "Webhook17",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        496
      ],
      "id": "b4b16688-bbd2-47ca-92bc-0ffd59623ee9",
      "name": "Respond to Webhook17"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblz0e59ULgBcUvrY",
          "mode": "list",
          "cachedResultName": "Admin Activity log",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblz0e59ULgBcUvrY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        272
      ],
      "id": "5364c756-08bc-409c-9636-7c0c012a607c",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl70C8uPKmoLkOQJ",
          "mode": "list",
          "cachedResultName": "Client Form Mapping",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl70C8uPKmoLkOQJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Mapping ID",
              "displayName": "Mapping ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is Required",
              "displayName": "Is Required",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Display Order",
              "displayName": "Display Order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        496
      ],
      "id": "63270520-b371-46b0-b8c8-03832742680d",
      "name": "Create or update a record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "client",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        720
      ],
      "id": "747c0da5-864c-4c50-b344-8797ef7186bf",
      "name": "Webhook18",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        720
      ],
      "id": "e5839723-7e20-44dd-a25c-99542b36bc59",
      "name": "Respond to Webhook18"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl4F4bUzC6X2Dxy9",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl4F4bUzC6X2Dxy9"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        720
      ],
      "id": "df28c24b-2383-4b00-9523-58128d82565f",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "commisionledger",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        944
      ],
      "id": "a59c6ecc-55a0-452a-8b24-4f5040b9b063",
      "name": "Webhook19",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        944
      ],
      "id": "c42d3706-d8cb-435e-b539-b4c8d8897512",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblrBWFuPYBI4WWtn",
          "mode": "list",
          "cachedResultName": "Commission Ledger",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblrBWFuPYBI4WWtn"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        944
      ],
      "id": "f61a9829-c1f6-4454-8534-6d4c23e1c785",
      "name": "Search records2",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "creditteamuser",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        1168
      ],
      "id": "e8bd7491-808b-43c0-9f75-9b1fadebddf2",
      "name": "Webhook20",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        1168
      ],
      "id": "5a6a973a-2ea1-47a5-b17b-9b40e000e71d",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl1a1TmMUj918Byj",
          "mode": "list",
          "cachedResultName": "Credit Team Users",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl1a1TmMUj918Byj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        1168
      ],
      "id": "58134f99-ca90-4ec5-bd93-ceb638201933",
      "name": "Search records3",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "dailysummaryreport",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        1392
      ],
      "id": "c460fb5f-a476-4001-819b-1f3d61c6e032",
      "name": "Webhook21",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        1392
      ],
      "id": "b1dba3ef-9da5-4c68-b05c-872cd759ffb7",
      "name": "Respond to Webhook21"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbla3urDb8kCsO0Et",
          "mode": "list",
          "cachedResultName": "Daily summary Reports",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbla3urDb8kCsO0Et"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        1392
      ],
      "id": "6d2fc8f2-2250-48b6-bf51-da9ad6a798b5",
      "name": "Search records4",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "fileauditinglog",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        1616
      ],
      "id": "207c74d3-cad8-4a0d-8c60-1cd14ffc10f7",
      "name": "Webhook22",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        1616
      ],
      "id": "b4db6929-e364-4b4a-ac48-0287d9ad90f4",
      "name": "Respond to Webhook22"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblL1XJnqW3Q15ueZ",
          "mode": "list",
          "cachedResultName": "File Auditing Log",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblL1XJnqW3Q15ueZ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        1616
      ],
      "id": "2395646c-23d5-4ae6-9776-2bb1786b6189",
      "name": "Search records5",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "formcategories",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        1840
      ],
      "id": "1b00b28b-a36e-40ad-a993-cc6ca1b681a3",
      "name": "Webhook23",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        1840
      ],
      "id": "37722c8f-9863-4736-a8df-5805fb7abfd5",
      "name": "Respond to Webhook23"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblqCqXV0Hds0t0bH",
          "mode": "list",
          "cachedResultName": "Form Categories",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblqCqXV0Hds0t0bH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        1840
      ],
      "id": "09e499b8-c244-4afb-b718-7cea8d72a31e",
      "name": "Search records6",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "formfields",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        2064
      ],
      "id": "b1e08295-54ce-4355-83bf-9c2a91b6d289",
      "name": "Webhook24",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        2064
      ],
      "id": "7c272faf-7c84-45c1-84eb-5c272563189f",
      "name": "Respond to Webhook24"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl5oZ6zI0dc5eutw",
          "mode": "list",
          "cachedResultName": "Form Fields",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl5oZ6zI0dc5eutw"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        2064
      ],
      "id": "0d3d4aef-6f03-4238-b815-2eaa9ffc2be7",
      "name": "Search records7",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "kamusers",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        2288
      ],
      "id": "357ad275-3885-47a1-92dd-d7af6c9f7eec",
      "name": "Webhook25",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        2288
      ],
      "id": "650350f5-efc1-48a6-977f-ec5381865719",
      "name": "Respond to Webhook25"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblpZFUQEJAvPsdOJ",
          "mode": "list",
          "cachedResultName": "KAM Users",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblpZFUQEJAvPsdOJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        2288
      ],
      "id": "03a5b4b1-f1b1-4f39-8106-3bf8ba9b4309",
      "name": "Search records8",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "loanapplication",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        2512
      ],
      "id": "ea45da87-bb94-4ee5-a6df-5f05bbd6d7e7",
      "name": "Webhook26",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        2512
      ],
      "id": "216d8e07-5203-4485-90c1-ecf7887dd56f",
      "name": "Respond to Webhook26"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl85RSGR1op38O3G",
          "mode": "list",
          "cachedResultName": "Loan Applications",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl85RSGR1op38O3G"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        2512
      ],
      "id": "6615e0d7-0f7a-4aeb-8466-a56824b0e30f",
      "name": "Search records9",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "loanproducts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        2736
      ],
      "id": "fe84efb4-88c2-4be9-854a-e8b329e5fb51",
      "name": "Webhook27",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        2736
      ],
      "id": "c40f8c34-1e4f-453c-8764-7b4fa928879a",
      "name": "Respond to Webhook27"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblVukvj8kn5gWBta",
          "mode": "list",
          "cachedResultName": "Loan Products",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblVukvj8kn5gWBta"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        2736
      ],
      "id": "fd582f54-3c91-4693-b59d-adab26fae011",
      "name": "Search records10",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "nbfcpartners",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        2960
      ],
      "id": "53253bf2-a102-42fc-b531-553b3f7d81a0",
      "name": "Webhook28",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        2960
      ],
      "id": "ab925153-8b8f-4684-8c60-dc77c00f0fb1",
      "name": "Respond to Webhook28"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblGvEp8Z1QvahwI0",
          "mode": "list",
          "cachedResultName": "NBFC Partners",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblGvEp8Z1QvahwI0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        2960
      ],
      "id": "b6dc943d-0b81-47c5-8c62-de7d55f600e0",
      "name": "Search records11",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "notifications",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        3184
      ],
      "id": "37afa6a2-ff68-4ad9-9279-6b7d095c397c",
      "name": "Webhook29",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1328,
        3184
      ],
      "id": "0eab4a7f-4e0b-48e1-8c7b-6c6458c3d864",
      "name": "Respond to Webhook29"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tblmprms0l3yQjVdx",
          "mode": "list",
          "cachedResultName": "Notifications",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tblmprms0l3yQjVdx"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        3184
      ],
      "id": "347a6039-44d1-4064-b0ac-9855f3cfc67a",
      "name": "Search records12",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzbyi8q7pJRl1cd",
          "mode": "list",
          "cachedResultName": "Seven Dashboard",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd"
        },
        "table": {
          "__rl": true,
          "value": "tbl7RRcehD5xLiPv7",
          "mode": "list",
          "cachedResultName": "User Accounts",
          "cachedResultUrl": "https://airtable.com/appzbyi8q7pJRl1cd/tbl7RRcehD5xLiPv7"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1552,
        3408
      ],
      "id": "166db112-e581-454c-979b-006a4b39a824",
      "name": "Search records13",
      "credentials": {
        "airtableTokenApi": {
          "id": "7GvicfJT1nu7OUoa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1392,
        3424
      ],
      "id": "57b04c21-78fe-48e2-95d7-fd450c12eebc",
      "name": "Webhook30",
      "webhookId": "46a2b46b-3288-4970-bd13-99c2ba08d52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1840,
        3424
      ],
      "id": "890cb082-736f-4293-a48d-16a58822bbf0",
      "name": "Respond to Webhook30"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1616,
        3408
      ],
      "id": "9c5b1f20-cf76-4374-8c26-d1c07a9c2e22",
      "name": "Send a message",
      "webhookId": "782a70aa-1834-4d34-83e9-9e60916a14ff",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "GkQJYViSVBnto4Gv",
          "name": "Microsoft Outlook account 3"
        }
      }
    }
  ],
  "pinData": {
    "Webhook3": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "332",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7af963f11e3b5b-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.69.178.59",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-wqqbm",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "LEDGER-TEST-001",
            "Ledger Entry ID": "LEDGER-TEST-001",
            "Client": "Test Corporation Pvt Ltd",
            "Loan File": "SF20250101001",
            "Date": "2025-01-15",
            "Disbursed Amount": "5000000",
            "Commission Rate": "1.5",
            "Payout Amount": "75000",
            "Description": "Commission for loan disbursement - Test entry",
            "Dispute Status": "None",
            "Payout Request": "False"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/COMISSIONLEDGER",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "249",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7b44a316d2dc97-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.190",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "TEST-POSTLOG-1764683161444",
            "Activity ID": "ACT-TEST-1764683161444",
            "Timestamp": "2025-12-02T13:46:01.445Z",
            "Performed By": "Macha Test User",
            "Action Type": "Test Action",
            "Description/Details": "Macha test execution",
            "Target Entity": "Test Entity"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/POSTLOG",
          "executionMode": "production"
        }
      }
    ],
    "Webhook14": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "221",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7b454750aadc97-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.190",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "USER-TEST-1764683161453",
            "Username": "testuser@example.com",
            "Password": "Test@123456",
            "Role": "client",
            "Associated Profile": "Test Corporation Pvt Ltd",
            "Last Login": "2025-12-02T13:46:01.453Z",
            "Account Status": "Active"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/adduser",
          "executionMode": "production"
        }
      }
    ],
    "Webhook13": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "677",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7b45389742dc97-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.190",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "APP-TEST-1764683161453",
            "File ID": "SF20250115001",
            "Client": "Test Corporation Pvt Ltd",
            "Applicant Name": "John Doe",
            "Loan Product": "Home Loan",
            "Requested Loan Amount": "5000000",
            "Documents": "Aadhar, PAN, Salary Slip",
            "Status": "pending_kam_review",
            "Assigned Credit Analyst": "Credit Analyst 1",
            "Assigned NBFC": "",
            "Lender Decision Status": "",
            "Lender Decision Date": "",
            "Lender Decision Remarks": "",
            "Approved Loan Amount": "",
            "AI File Summary": "Applicant has good credit history and stable income",
            "Form Data": "{\"property_type\": \"Residential\", \"property_value\": 7000000}",
            "Creation Date": "2025-01-15",
            "Submitted Date": "2025-01-15",
            "Last Updated": "2025-12-02T13:46:01.453Z"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/applications",
          "executionMode": "production"
        }
      }
    ],
    "Webhook10": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "239",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7b452762c7dc97-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.190",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "KAM-TEST-1764683161452",
            "KAM ID": "KAM-TEST-1764683161453",
            "Name": "John KAM Manager",
            "Email": "kam.manager@test.com",
            "Phone": "+91 9876543211",
            "Managed Clients": "Test Corporation Pvt Ltd, ABC Industries",
            "Role": "kam",
            "Status": "Active"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/KAMusers",
          "executionMode": "production"
        }
      }
    ],
    "Webhook9": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "271",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7b4509132fdc97-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.190",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "FIELD-TEST-1764683161452",
            "Field ID": "FIELD-TEST-1764683161452",
            "Category": "Personal Information",
            "Field Label": "Full Name",
            "Field Type": "text",
            "Field Placeholder": "Enter your full name",
            "Field Options": "",
            "Is Mandatory": "True",
            "Display Order": "1",
            "Active": "True"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/FormCategory",
          "executionMode": "production"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "180",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7b44beb4c3dc97-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.190",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "MAP-TEST-1764683161452",
            "Mapping ID": "MAP-TEST-1764683161452",
            "Client": "Test Corporation Pvt Ltd",
            "Category": "Personal Information",
            "Is Required": "True",
            "Display Order": "1"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/POSTCLIENTFORMMAPPING",
          "executionMode": "production"
        }
      }
    ],
    "Webhook4": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "206",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7bacd772c758e1-BLR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.79.233",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-sr86c",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "CREDIT-TEST-1764687424527",
            "Credit User ID": "CREDIT-TEST-1764687424527",
            "Name": "John Credit Analyst",
            "Email": "credit.analyst@test.com",
            "Phone": "+91 9876543210",
            "Role": "credit_team",
            "Status": "Active"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/CREDITTEAMUSERS",
          "executionMode": "production"
        }
      }
    ],
    "Webhook5": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "199",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7bace285b758e1-BLR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.79.233",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-sr86c",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "SUMMARY-TEST-1764687424527",
            "Report Date": "2025-12-02",
            "Summary Content": "Test daily summary report content",
            "Generated Timestamp": "2025-12-02T14:57:04.527Z",
            "Delivered To": "credit_team, kam"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/DAILYSUMMARY",
          "executionMode": "production"
        }
      }
    ],
    "Webhook11": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "578",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7bad1be74158e1-BLR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.79.233",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-sr86c",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "APP-TEST-1764687424527",
            "File ID": "SF1764687424527",
            "Client": "Test Corporation Pvt Ltd",
            "Applicant Name": "John Doe",
            "Loan Product": "Personal Loan",
            "Requested Loan Amount": "5000000",
            "Documents": "pan:doc1.pdf,aadhar:doc2.pdf",
            "Status": "draft",
            "Assigned Credit Analyst": "",
            "Assigned NBFC": "",
            "Lender Decision Status": "",
            "Lender Decision Date": "",
            "Lender Decision Remarks": "",
            "Approved Loan Amount": "",
            "AI File Summary": "",
            "Form Data": "{\"name\":\"John Doe\",\"pan\":\"ABCDE1234F\"}",
            "Creation Date": "2025-12-02",
            "Submitted Date": "",
            "Last Updated": "2025-12-02T14:57:04.528Z"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/applications",
          "executionMode": "production"
        }
      }
    ],
    "Webhook7": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "337",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7bee51d228f647-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.191",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-wqqbm",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "AUDIT-TEST-1764690111745",
            "Log Entry ID": "AUDIT-TEST-1764690111745",
            "File": "SF20250115001",
            "Timestamp": "2025-12-02T15:41:51.745Z",
            "Actor": "KAM User - John Doe",
            "Action/Event Type": "status_change",
            "Details/Message": "Status changed from pending_kam_review to forwarded_to_credit",
            "Target User/Role": "credit_team",
            "Resolved": "False"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/Fileauditinglog",
          "executionMode": "production"
        }
      }
    ],
    "Webhook6": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "414",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7bf469546249a6-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.71.198.36",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-sr86c",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "CLIENT-TEST-1764690360572",
            "Client ID": "CLIENT-TEST-1764690360572",
            "Client Name": "Test Corporation Pvt Ltd",
            "Primary Contact Name": "John Doe",
            "Contact Email / Phone": "contact@testcorp.com / +91 9876543210",
            "Assigned KAM": "KAM Manager 1",
            "Enabled Modules": "ledger, queries, applications, form_builder",
            "Commission Rate": "1.5",
            "Status": "Active",
            "Form Categories": "Personal Information, Financial Information"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/Client",
          "executionMode": "production"
        }
      }
    ],
    "Webhook8": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "233",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7bf543002c4924-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.69.86.149",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-wqqbm",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "CAT-TEST-1764690396107",
            "Category ID": "CAT-TEST-1764690396107",
            "Category Name": "Test Category - 2025-12-02T15:46:36.107Z",
            "Description": "This is a test form category created for QA testing",
            "Display Order": "1",
            "Active": "True"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/FormCategory",
          "executionMode": "production"
        }
      }
    ],
    "Webhook12": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "242",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7bf67cf7b4a781-DEL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.69.152.125",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "PROD-TEST-1764690446298",
            "Product ID": "PROD-TEST-1764690446298",
            "Product Name": "Test Loan Product",
            "Description": "A short description of the test loan product.",
            "Active": "True",
            "Required Documents/Fields": "PAN, Aadhar, Bank Statement"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/loanproducts",
          "executionMode": "production"
        }
      }
    ],
    "Webhook15": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "221",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7b454750aadc97-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.190",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "USER-TEST-1764683161453",
            "Username": "testuser@example.com",
            "Password": "Test@123456",
            "Role": "client",
            "Associated Profile": "Test Corporation Pvt Ltd",
            "Last Login": "2025-12-02T13:46:01.453Z",
            "Account Status": "Active"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/adduser",
          "executionMode": "production"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook16": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook17": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook18": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook19": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook20": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook21": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook22": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook23": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook24": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook25": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook26": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook27": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook28": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook29": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a819f1362053c3a-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32, 172.69.178.58",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:cb53:3d68:ecf4:389e:9e32"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/46a2b46b-3288-4970-bd13-99c2ba08d52",
          "executionMode": "production"
        }
      }
    ],
    "Webhook30": [
      {
        "json": {
          "headers": {
            "host": "fixrrahul.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "221",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a7b454750aadc97-CCU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2401:4900:1f27:929:447b:c51e:9485:32ac, 172.68.127.190",
            "x-forwarded-host": "fixrrahul.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-65-cbb4dd965-rg6hp",
            "x-is-trusted": "yes",
            "x-real-ip": "2401:4900:1f27:929:447b:c51e:9485:32ac"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "USER-TEST-1764683161453",
            "Username": "testuser@example.com",
            "Password": "Test@123456",
            "Role": "client",
            "Associated Profile": "Test Corporation Pvt Ltd",
            "Last Login": "2025-12-02T13:46:01.453Z",
            "Account Status": "Active"
          },
          "webhookUrl": "https://fixrrahul.app.n8n.cloud/webhook/adduser",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record4": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record5": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record6": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record7": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record8": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record9": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record10": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record11": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record12": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record13": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record14": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Create or update a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Create or update a record3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "Create or update a record4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook5": {
      "main": [
        [
          {
            "node": "Create or update a record5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "Create or update a record6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook7": {
      "main": [
        [
          {
            "node": "Create or update a record7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook8": {
      "main": [
        [
          {
            "node": "Create or update a record8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook9": {
      "main": [
        [
          {
            "node": "Create or update a record9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook10": {
      "main": [
        [
          {
            "node": "Create or update a record10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook11": {
      "main": [
        [
          {
            "node": "Create or update a record11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook12": {
      "main": [
        [
          {
            "node": "Create or update a record12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook13": {
      "main": [
        [
          {
            "node": "Create or update a record13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook14": {
      "main": [
        [
          {
            "node": "Create or update a record14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record15": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook15": {
      "main": [
        [
          {
            "node": "Create or update a record15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Webhook16": {
      "main": [
        [
          {
            "node": "Search records13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook17": {
      "main": [
        [
          {
            "node": "Create or update a record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record2": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook18": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Respond to Webhook18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook19": {
      "main": [
        [
          {
            "node": "Search records2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records2": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook20": {
      "main": [
        [
          {
            "node": "Search records3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records3": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook21": {
      "main": [
        [
          {
            "node": "Search records4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records4": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook22": {
      "main": [
        [
          {
            "node": "Search records5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records5": {
      "main": [
        [
          {
            "node": "Respond to Webhook22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook23": {
      "main": [
        [
          {
            "node": "Search records6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records6": {
      "main": [
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook24": {
      "main": [
        [
          {
            "node": "Search records7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records7": {
      "main": [
        [
          {
            "node": "Respond to Webhook24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook25": {
      "main": [
        [
          {
            "node": "Search records8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records8": {
      "main": [
        [
          {
            "node": "Respond to Webhook25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook26": {
      "main": [
        [
          {
            "node": "Search records9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records9": {
      "main": [
        [
          {
            "node": "Respond to Webhook26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook27": {
      "main": [
        [
          {
            "node": "Search records10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records10": {
      "main": [
        [
          {
            "node": "Respond to Webhook27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook28": {
      "main": [
        [
          {
            "node": "Search records11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records11": {
      "main": [
        [
          {
            "node": "Respond to Webhook28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook29": {
      "main": [
        [
          {
            "node": "Search records12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records12": {
      "main": [
        [
          {
            "node": "Respond to Webhook29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records13": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook30": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "342206c1-db06-4a7d-b7d8-64a09b079156",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cede7282cee9e04cab35956e332b88bc74affd8110baf9d026857557d15dcea0"
  },
  "id": "OaE0ZCy1blSSZuNG",
  "tags": []
}